/* Start Home Page Styles */
body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("../image/contact.jpg");
	color: white;
	background-size: cover;
}

.my-card {
	background: #fff;
	padding: 20px;
}

/* End Home page styles  */

/* Start Sidebar CSS */
.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 999999999999999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 27px;
	cursor: pointer;
	font-weight: lighter;
}

.contect {
	margin-left: 20%
}

/* media query */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
	}
	.contect {
		margin-left: 0% !important;
	}
}

/* Start Sidebar CSS */
.my_profile_picture {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-size: cover; /* Ensure the image covers the element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Prevent the image from repeating */
}