
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base :: layout(~{::section})">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hello, about!</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">

						<!-- check box error -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert "
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
						</div>
						<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

						<!-- image membership -->
						<div class="text-center">
							<img style="width: 75px" th:src="@{/image/membership.png}"
								alt="Membership Image" />
						</div>
						<h1 class="text-center">Register here</h1>

						<form th:action="@{/do_ragister}" method="post"
							th:object="${user}">

							<!-- user name -->
							<div class="form-group">
								<label for="exampleInputEmail1" class="form-label ">User
									Name</label> <input name="name" type="text" class="form-control"
									id="name_field" aria-describedby="emailHelp"
									placeholder="Enter Name" th:value="${user.name}"
									th:classappend="${#fields.hasErrors('name')}?'is-invalid':''" />

								<!-- Name Errors check -->
								<div th:each="e:${#fields.errors('name')}" th:text="${e}"
									id="invalidCheck3Feedback" class="invalid-feedback"></div>

							</div>

							<!-- user email -->
							<div class="form-group">
								<label for="exampleInputEmail1" class="form-label">User
									Email</label> <input name="email" type="email" class="form-control"
									id="email_field" aria-describedby="emailHelp"
									placeholder="Enter Email" th:value="${user.email}"
									th:classappend="${#fields.hasErrors('email')}?'is-invalid':''" />
								<div th:each="e:${#fields.errors('email')}" th:text="${e}"
									id="invalidCheck3Feedback" class="invalid-feedback"></div>

							</div>
							<!-- user password -->
							<div class="form-group">
								<label for="exampleInputEmail1" class="form-label">User
									Password</label> <input name="password" type="password"
									class="form-control" id="password_field"
									aria-describedby="emailHelp" placeholder="Enter Password"
									th:value="${user.password}"
									th:classappend="${#fields.hasErrors('password')}?'is-invalid':''" />
								<div th:each="e:${#fields.errors('password')}" th:text="${e}"
									id="invalidCheck3Feedback" class="invalid-feedback"></div>

							</div>

							<!-- user about -->
							<div class="form-group">
								<label for="exampleInputEmail1" class="form-label"></label>
								<textarea name="about" placeholder="Enter something yourself"
									th:text="${user.about}" class="form-control"
									th:classappend="${#fields.hasErrors('about')}?'is-invalid':''"
									rows="8"></textarea>
								<div th:each="e:${#fields.errors('about')}" th:text="${e}"
									id="invalidCheck3Feedback" class="invalid-feedback"></div>

							</div>

                            <!-- Profile fields -->
                            
                            <div class="container mt-2">
                                   <input type="file" name="image">
                            </div>

							<!-- terms and condition agreement -->
							<div
								class="form-group form-check d-flex justify-content-center p-1">
								<input name="agreement" type="checkbox" class="form-check-input"
									id="agreement"> <label class="ms-1" for="agreement">Accept
									terms conditions </label>
							</div>

							<!-- user button -->
							<div class="container text-center mt-1">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn btn btn-warning text-white">Reset</button>
							</div>
							<div align="center">
								<p class="mt-2">
									You are registered? <a th:href="@{/signin}" href="#">Login Here</a>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>